<!DOCTYPE html>
<html>
    <head>
        <title>Love Cats</title>
        <link rel="stylesheet" type="text/css" href="style.css"/>
    </head>
    <body>
            <div id="app">
                <h1 id="title">{{ product }}</h1>
                <div class="product">
                    
                    <div class="product-image">
                        <img v-bind:src="image"/>
                    </div>
                    
                    <div class="product-info">
                        <h2>This is a good {{ product.slice(0,3) }}. You should give her a pet!</h2>
                        <p>{{ description }}</p>
                        <p v-if="isPurring">Happy {{ product.slice(0,3) }} is purring.</p>
                        <p v-else>Watch out for the tail!</p>
                        
                        She is:
                        <ul> 
                            <li v-for="detail in details">{{ detail }}</li>
                        </ul>
                    </div>

                </div>

            </div>
            <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
            <script src = "main.js"></script>    
    </body>
</html>